.App {
  text-align: center;
  height: 100vh;
  overflow: hidden;
}
.header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #F5F5F5;
}
.header h1{
  background: linear-gradient(to right, black, rgb(114, 3, 3), red);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  
  
}
.input{
  position: relative;
  
}
.input input{
  margin-left: 500px;
  width: 365px;
  height: 60px;
  border: 2px solid #E0E0E0;
  border-radius: 8px;
}
.button-pesquisar{
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  position: absolute;
  top: 15px;
  right: 10px;
  z-index: 2;
  background: #27AE60;
  width: 107px;
  height: 40px;
  border: 2px solid #27AE60;
  box-sizing: border-box;
  border-radius: 8px;
  color: white;
}
.big-container{
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 100vw;
}
.products-box-container{

  display: flex;
  flex-wrap: wrap;
  width: 60vw;
}

.products-box{
  border: 2px solid #E0E0E0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 380px;
  width: 330px;
  margin: 10px;
  
}
.products-box-bottom{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 200px;
  justify-content: flex-start;
  align-items: flex-start;
  
}
.products-box p{
  padding: 2px;
}
.products-box span{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 2px;
  margin-top: 5px;
}

.button-add{
  background: #27AE60;
  color: white;
  width: 106px;
  height: 40px;
  border: 2px solid #27AE60;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 8px;
  font-weight: bold;
  margin-top: 5px;
}
.preco{
  color: #27AE60;
  font-weight: bold;
}
.products-box img{
  background-color: #F5F5F5;
  width: 65%;
  background-size: cover;
}

ul{
  padding: 0;
  list-style: none;
}
p{
  margin: 0;
  padding: 0;
  color: #828282;
}

.carrinho{
  height: 70vh;
  margin-top: 25px;
  background-color: #F5F5F5;
}
.carrinho-container{
  width: 25vw;
  height: 73vh;
  box-sizing: border-box;
  
}
.carrinho-container ul{
  width: 25vw;
  height: 50vh;
  
}
.carrinho-container h2{
  text-align: start;
  box-sizing: border-box;
  width: 100%;
  margin: 0px;
  padding: 20px;
  background-color: #27AE60;
  color: white;

}
.carrinho-container img{
  width: 20%;
  background-color: #E0E0E0;
  margin-right: 10px;
  margin-top: 5px;
}
.carrinho-lista{
  display: flex;
  height: 8vh;
}
.total-price{
  display: flex;
  justify-content: space-around;
}
.total{
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.preco-carrinho{
  margin-left: 70%;
  margin-right: 10px;
  color: #828282;
}
.remove-button-father{
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #F5F5F5;
  height: 12.2vh;
}

.button-remover{
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  margin: 0 auto;
  width: 23vw;
  height: 60px;
  background: #E0E0E0;
  border: 2px solid #E0E0E0;
  color: #828282;
  font-weight: bold;
  border-radius: 8px;
}
.carrinho-lista span{
  color: #828282;
  font-size: 12px;
  margin-right: auto;
}
.carrinho-container div{
  text-align: left;
}
.button-x{
  background-color: transparent;
  border: none;
  color: #BDBDBD;
  font-weight: bold;
  margin-left: auto;
  margin-right: 10px;
}
button{
  cursor: pointer;
}